<div class="container">
    <div class="tabs">
        <div class="tab-nav btn-group">
            <button ng-class="{'active' : selectedTag.id === tag.id}" ng-click="selectTag(tag)" class="btn btn-tab" ng-repeat="tag in data.tags">
                {{tag.title}}
                <span class="counter">
                    {{tag.count}}
                </span>
            </button>
        </div>

        <ul class="tabs-container" ng-class="{'tabled-view' : isTabledView, 'list-view' : isListView}">
            <li class="create-project box">
                <header ng-if="isTabledView" class="box-header">&nbsp;</header>
                <section class="box-inner">
                    <button ng-click="showPopup()" class="btn create-project">
                        <span class="icon-plus">&#43;</span>
                        <em class="title">Create New Project</em>
                    </button>
                </section>
            </li>

            <li class="box" ng-repeat="project in data.projects | filterProjects:selectedTag">
                <header ng-if="isTabledView" class="box-header">&nbsp;</header>
                <section class="box-inner">
                    <p class="project-title">
                        <a title="{{project.title}}" href="#/">{{project.title}}</a>
                    </p>
                </section>
                <footer class="box-footer" ng-class="{'clearfix': isListView}">
                    <p class="project-meta">{{project.details.convertedDate}}</p>
                    <div class="box-toolbar" ng-class="{'clearfix': isTabledView}">
                        <button title="Number of Screens" class="btn circle counter">{{project.details.convertedScreens}}</button>
                        <button title="Edit Project Name and its Description" class="btn btn-edit circle">&nbsp;</button>
                        <button title="Share the Project" class="btn btn-share circle">&nbsp;</button>
                        <button title="Download the Project"class="btn btn-download circle">&nbsp;</button>
                        <project-details></project-details>
                    </div>
                </footer>
            </li>
        </ul>
    </div>
</div>