<aside id="sidebar" ng-class="{'opened' : isSidebarOpened, 'closed': !isSidebarOpened}">
    <button
        title="Close the Sidebar"
        class="btn btn-toggle-sidebar"
        ng-class="{'opened' : isSidebarOpened, 'closed': !isSidebarOpened}"
        ng-click="toggleSidebar()"
    >
        <span class="arrow">&nbsp;</span>
    </button>
    <div class="container">
        <header class="sidebar-header">
            <ul class="statistics" ng-class="{'horizontal': isSidebarOpened, 'vertical' : !isSidebarOpened}">
                <li class="list-item">
                    <span class="circle">3<em>of 5</em></span>
                    Projects
                </li>
                <li class="list-item">
                    <span class="circle">105</span>
                    Screens
                </li>
                <li class="list-item">
                    <span class="circle">8</span>
                    Collaborators
                </li>
            </ul>
        </header>
        <section class="sidebar-content"  ng-if="isSidebarOpened">
            <h3 class="heading">Recent Activity</h3>

            <div class="activities-section">
                <ul class="activities">
                    <li class="list-item">
                        <div class="avatar image-container">
                            <img alt="" src="images/temp/avatar-ss.png" />
                        </div>
                        <div class="activity">
                            <p class="activity-info">You updated
                                <a title="Home List 2" href="#/">Home List 2</a>.</p>
                            <span class="activity-meta">2 days ago</span>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="avatar image-container">
                            <img alt="" src="images/temp/avatar-a.png" />
                        </div>
                        <div class="activity">
                            <p class="activity-info">You unshared
                                <a title="New SnapUp Designs" href="#/">New SnapUp Designs</a> with Andrew M.
                            </p>
                            <span class="activity-meta">3 days ago</span>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="avatar image-container">
                            <img alt="" src="images/temp/avatar-face.png" />
                        </div>
                        <div class="activity">
                            <p class="activity-info">You shared
                                <a title="New SnapUp Designs" href="#/">New SnapUp Designs</a> with andrew.micallef@6pmplc.com
                            </p>
                            <span class="activity-meta">4 days ago</span>
                        </div>
                    </li>
                </ul>
                <button title="See all recent activity" class="btn btn-recent-activities">See all recent activity</button>
            </div>
        </section>
    </div>
</aside>