<div class="popup">
    <header class="popup-header">
        <button class="btn btn-close" ng-click="closePopUp()"><span class="glyphicon glyphicon-remove">&nbsp;</span></button>
        <h6 class="popup-heading">Create New Project</h6>
    </header>
    <section class="popup-content">
        <div class="form-create-project">
            <form>
                <fieldset>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Untitled Project" />
                    </div>
                    <button
                        class="btn toggle-description"
                        ng-click="showDescription()"
                        ng-class="{'closed' : isDescriptionClosed, 'opened': !isDescriptionClosed}"
                    >
                        <span></span>
                        Description
                    </button>
                    <div class="form-group description-box">
                        <textarea class="form-control" rows="3" placeholder="Description"></textarea>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>
    <footer class="popup-footer">
        <button class="btn btn-close" ng-click="closePopUp()">Close</button>
        <button class="btn btn-create">Create Project</button>
    </footer>
</div>