<div class="project-details">
    <button title="Details" class="btn btn-details circle" tooltip data-toggle="tooltip" data-placement="top" ng-click="toggleDetails()">&nbsp;</button>
    <ul class="dropdown details" ng-show="isDetailsVisible">
        <li class="list-item">Date Created: {{project.details.convertedDate}}</li>
        <li class="list-item">{{project.details.screens}} screens </li>
        <li class="list-item">{{project.details.collaborators}} other collaborators.</li>
        <li class="list-item button-holder">
            <button class="btn btn-delete-project">Delete Project</button>
        </li>
    </ul>
</div>