/******* SIDEBAR *******/
#sidebar{
    .btn-toggle-sidebar{
        position: absolute;
        width: 32px;
        height: 32px;
        overflow: hidden;
        background: $secondaryBG;
        border-radius: 100%;
        text-align: center;
        line-height: 0;

        .arrow{
            display: inline-block;
            vertical-align: middle;
            text-indent: -9999px;
            transition: border-color ease 500ms;
        }

        &.opened{
            .arrow{
                @include arrowRight(5px, 5px, 5px, #fff);
            }

            &:hover,
            &:active{
                .arrow{
                    border-left-color: #f28329;
                }
            }
        }

        &.closed{
            .arrow{
                @include arrowLeft(5px, 5px, 5px, #fff);
            }

            &:hover,
            &:active{
                .arrow{
                    border-right-color: #f28329;
                }
            }
        }
    } // .btn-toggle-sidebar

    .sidebar-header{
        margin: 0 0 24px;
        border-bottom: 1px solid #d5d5d5;
    } // .sidebar-header

        .statistics{
            @extend .clean, .clean.list;
            font-size: 0;
            text-align: center;
            border-bottom: 1px solid #d6d6d6;

            &.horizontal{
                .list-item{
                    @include inlineBlock;
                    width: 33.3%;
                }
            }

            &.vertical{
                .list-item{
                    display: block;
                    width: 100%;
                }
            }

            .list-item{
                margin: 0 0 19px;
                color: #fff;
                font: 12px/1 $PN_Regular;
            }

            .circle{
                display: block;
                margin: 0 auto 8px;
                width: 60px;
                height: 60px;
                padding: 13px 0 0;
                overflow: hidden;
                background: #eaeaea;
                border-radius: 100%;

                color: #000;
                font: 31px/1 $PN_Regular;

                em{
                    display: block;
                    margin: -4px 0 0;
                    font-style: normal;
                    font-size: 10px;
                    text-transform: uppercase;
                }
            }
        } // .statistics

    .sidebar-content{
        padding: 0 10px;

        .heading{
            @extend .clean;

            margin: 0 0 22px;
            color: #fff;
            font: 25px/1 $PN_Regular;
        }
    } // .sidebar-content

    .activities{
        @extend .clean, .clean.list;

        .list-item{
            display: block;
            margin: 0 0 15px;
            overflow: hidden;

            &:last-child{
                margin: 0 0 10px;
            }
        }

        .avatar{
            float: left;
            width: 50px;
            overflow: hidden;
            border-radius: 100%;
        }

        .activity{
            margin: 0 0 0 55px;
            padding: 6px 0 0;
            overflow: hidden;
        }

        .activity-info{
            @extend .clean;
            margin: 0 0 3px;
            color: #fff;
            font: 12px/18px $PN_Regular;

            a{
                padding: 0 0 1px;
                color: inherit;
                border-bottom: 1px solid #93b3c0;
                transition: border-color ease 500ms, color ease 500ms;

                &:hover{
                    color: #5698d1;
                    border-color: #5698d1;
                }
            }
        }

        .activity-meta{
            display: block;
            color: #c8c8c8;
            font: 10px/1 $PN_Regular;
            text-transform: uppercase;
        }
    }

    .btn-recent-activities{
        display: block;
        overflow: hidden;
        width: 100%;
        height: 36px;
        background: #424242;
        border: 1px solid #555;
        border-radius: 36px;

        color: #fff;
        font: 14px/36px $PN_Regular;
        text-align: center;

        transition: background ease 500ms;

        &:hover,
        &:active{
            background: #555;
        }
    }
}
/******* // SIDEBAR *******/