.dropdown {
    @extend .clean, .clean.list;
    position: absolute;
    top: 48px;
    left: 0;
    width: 200px;
    padding: 0 0 6px;
    background: #222;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);

    &:before {
        content: '';
        display: block;
        width: 20px;
        margin: -10px auto 0;
        @include arrowTop(10px, 10px, 10px, #222);
    }
}

.tooltip{
    font: 13px/1 $PN_Regular;
}