/******* CONTENT *******/
#content {
    .tabs{
        font-size: 0;
        text-align: center;
    }

    .tab-nav{
        margin: 0 0 15px;
        height: 36px;
    }

    .btn-tab{
        @include inlineBlock;
        overflow: hidden;
        min-width: 110px;
        padding: 0 14px;
        height: 100%;

        background: #575757;
        border: 1px solid #696969;

        color: #fff;
        font: 13px/30px $PN_Regular;
        transition: background ease 500ms, border-color ease 500ms;

        &.btn-tab:first-child{
            border-top-left-radius: 38px;
            border-bottom-left-radius: 38px;
        }
        &.btn-tab:last-child{
            border-top-right-radius: 38px;
            border-bottom-right-radius: 38px;
        }

        &:hover{
            background: #696969;
        }

        &:active,
        &.active{
            background: #f57b14;
            border-color: #f57b14;
        }

        .counter{
            float: right;
            margin: 6px 0 0 4px;
            min-width: 18px;
            height: 18px;
            overflow: hidden;
            background: #fff;
            border-radius: 100%;

            color: #000;
            font: 12px/18px $PN_Bold;
            text-indent: -1px;
        }
    } // .btn-tab

    .tabs-container{
        @extend .clean, .clean.list;

        .box-footer{

            .project-meta{
                margin: 0 16px 12px;
                color: #383838;
                font: 10px/1 $PN_Bold;
                text-transform: uppercase;
            }

            .box-toolbar{
                background: #888;
                border-top: 2px solid #444;
                padding: 3px 8px 4px 10px;
            }

            .circle{
                float: left;
            }
            .project-details{
                float: right;
                position: relative;
            }

            .circle{
                width: 28px;
                height: 28px;
                margin: 0 0 0 10px;
                background: #5f5f5f;
                border-radius: 100%;

                &:first-child{
                    margin-left: 0;
                }
            }

            .counter{
                cursor: pointer;
                color: #fff;
                font: 10px/28px $PN_Regular;
                text-align: center;
            }

            .btn-edit,
            .btn-share,
            .btn-download,
            .btn-details{
                background-image: url('../images/icons/sprite.png');
                background-repeat: no-repeat;
                background-position: 0 -1000px;
                background-size: 16px 93px;
            }

            .btn-edit{
                background-position: 50% 8px;
            }

            .btn-share{
                background-position: 50% -19px;
            }

            .btn-download{
                background-position: 50% -46px;
            }

            .btn-details{
                background-position: 50% -73px;
            }

            .dropdown{
                top: 39px;
                left: -82px;
                width: 192px;

                .list-item{
                    margin: 0 0 11px;
                    padding: 0 16px 0 17px;
                    color: #fff;
                    font: 13px/1 $PN_Regular;

                    &:first-child{
                        padding-top: 8px;
                    }

                    &.button-holder{
                        text-align: right;
                    }
                }
            }

            .btn-delete-project{
                width: 108px;
                height: 24px;
                background: #c00f09;
                border-radius: 24px;
            }
        }

        &.tabled-view{
            font-size: 0;
            text-align: center;
            margin: 0 0 0 -20px;

            .box{
                @include inlineBlock;
                margin: 0 0 20px 20px;
                width: 250px;
                position: relative;
                z-index: 100;

                &.create-project{
                    .box-header,
                    .box-inner{
                        background: #777;
                    }
                }

                &.overflow{
                    z-index: 10001;
                }
            }

            .box-header{
                width: 188px;
                height: 10px;
                background: #999;
                border-top-right-radius: 3px;
            }

            .box-inner{
                padding: 11px 16px 0;
                height: 155px;
                overflow: hidden;
                background: #999;
                border-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;
            }

                .create-project{
                    text-align: center;

                    .icon-plus{
                        @include inlineBlock;
                        width: 80px;
                        height: 80px;
                        margin: 15px 0 10px;
                        overflow: hidden;
                        border: 1px solid #a1a1a1;
                        border-radius: 100%;
                        color: #fff;
                        font: 82px/84px $PN_Regular;
                    }

                    .title{
                        display: block;
                        color: #fff;
                        font: normal 10px/1 $PN_Regular;
                        text-transform: uppercase;
                    }
                } // .create-project

                .project-title{
                    @extend .clean;
                    color: #fff;
                    font: 20px/28px $PN_Regular;
                    text-align: left;

                    a{
                        color: inherit;
                        transition: color ease 300ms;

                        &:hover,
                        &:active{
                            color: #23527c;
                        }
                    }
                } // .project-title
            .box-footer{
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                text-align: left;
                z-index: 98;
            }
        } // .tabled-view

        &.list-view{
            .box{
                width: 100%;
            }
            .create-project{
                margin: 0 0 20px;
                text-align: center;

                .icon-plus{
                    @include inlineBlock;
                    width: 80px;
                    height: 80px;
                    margin: 15px 0 10px;
                    overflow: hidden;
                    border: 1px solid #a1a1a1;
                    border-radius: 100%;
                    color: #fff;
                    font: 82px/84px $PN_Regular;
                }

                .title{
                    display: block;
                    color: #fff;
                    font: normal 10px/1 $PN_Regular;
                    text-transform: uppercase;
                }
            } // .create-project
            .project-title{
                @extend .clean;
                color: #fff;
                font: 20px/28px $PN_Regular;
                text-align: left;

                a{
                    color: inherit;
                    transition: color ease 300ms;

                    &:hover,
                    &:active{
                        color: #23527c;
                    }
                }
            } // .project-title

            .box-inner{
                margin: 0 0 12px;
                overflow: hidden;
            }

            .box-footer{
                margin: 0 0 24px;
                height: 60px;
                width: 200px;
            }
                .project-meta{
                    margin: 0 0 5px;
                    color: #fff;
                }
                .box-toolbar{
                    float: left;
                }
                .project-details{
                    margin-left: 10px;
                }
                .dropdown{
                    z-index: 100;
                    text-align: left;
                }
        } // .list-view
    } // .tabs-container
}
/******* // CONTENT *******/