/******* FONTS *******/
@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('fonts/proximanova-regular.eot');
    src: url('fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/proximanova-regular.woff2') format('woff2'),
    url('fonts/proximanova-regular.woff') format('woff'),
    url('fonts/proximanova-regular.ttf') format('truetype'),
    url('fonts/proximanova-regular.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova RegItalic';
    src: url('fonts/proximanova-regitalic.eot');
    src: url('fonts/proximanova-regitalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/proximanova-regitalic.woff2') format('woff2'),
    url('fonts/proximanova-regitalic.woff') format('woff'),
    url('fonts/proximanova-regitalic.ttf') format('truetype'),
    url('fonts/proximanova-regitalic.svg#proxima_novaregular_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('fonts/proximanova-bold.eot');
    src: url('fonts/proximanova-bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/proximanova-bold.woff2') format('woff2'),
    url('fonts/proximanova-bold.woff') format('woff'),
    url('fonts/proximanova-bold.ttf') format('truetype'),
    url('fonts/proximanova-bold.svg#proxima_nova_rgbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova BoldItalic';
    src: url('fonts/proximanova-boldit.eot');
    src: url('fonts/proximanova-boldit.eot?#iefix') format('embedded-opentype'),
    url('fonts/proximanova-boldit.woff2') format('woff2'),
    url('fonts/proximanova-boldit.woff') format('woff'),
    url('fonts/proximanova-boldit.ttf') format('truetype'),
    url('fonts/proximanova-boldit.svg#proxima_nova_rgbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}
/******* FONTS *******/