/******* HEADER *******/
#header {

    .logo {
        @extend .clean;
        float: left;
        width: 140px;

        .image-container {
            display: block;
        }
    }
    // .logo

    .user-area {
        float: right;
        position: relative;
        width: 200px;
        margin: 6px 50px 0 0;
        font-size: 0;

        .user-avatar,
        .user {
            @include inlineBlock;
            vertical-align: top;
        }

        .user-avatar {
            width: 40px;
            margin: 0 10px 0 0;
            overflow: hidden;
            border-radius: 100%;
        }

        .user-name {
            cursor: pointer;
            position: relative;
            width: 100px;
            color: #fff;
            font: 14px/1 $PN_Regular;

            span {
                display: block;
                width: 75px;
                @include handleString;
            }

            &:after {
                content: '';
                position: absolute;
                bottom: -1px;
                right: 0;
                width: 10px;
                @include arrowBottom(5px, 5px, 5px, #fff)
            }
        }
        // .user-name

        .list-item {
            display: block;
            color: #fff;
            font: 14px/1 $PN_Regular;

            &:first-child {
                margin: 8px 0 0;
            }

            &:last-child {
                margin: 8px 0 0;
                padding: 8px 0 0;
                border-top: 1px solid #393939;
            }
        }

        .list-link {
            color: inherit;
            display: block;
            padding: 8px 20px;

            &:hover {
                background: #3a2e22;
            }

            &:active {
                background: #d47517;
            }
        }
    }
    // .user-area

    .toolbar {
        margin: 6px 200px 0;
        font-size: 0;
        text-align: center;

        .glyphicon {
            color: #fff;
        }

        .create-project {
            @include inlineBlock;
            vertical-align: top;
            margin: 0 23px 0 0;
            min-width: 166px;
            height: 38px;
            color: #fff;
            font: 14px/38px $PN_Regular;
            background: #f37d13;
            background: -moz-linear-gradient(top, #f37d13 0%, #f77d0e 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f37d13), color-stop(100%, #f77d0e));
            background: -webkit-linear-gradient(top, #f37d13 0%, #f77d0e 100%);
            background: -o-linear-gradient(top, #f37d13 0%, #f77d0e 100%);
            background: -ms-linear-gradient(top, #f37d13 0%, #f77d0e 100%);
            background: linear-gradient(to bottom, #f37d13 0%, #f77d0e 100%);
            border-radius: 38px;

            .glyphicon-plus {
                font-size: 14px;
            }
        }
        // .create-project

        .view-style {
            overflow: hidden;
            border: 1px solid #555;
            border-radius: 36px;

            .glyphicon {
                width: 12px;
                top: 3px;
                font-size: 12px;
                line-height: 0;
            }

            .btn {
                @include inlineBlock;
                vertical-align: middle;
                width: 54px;
                height: 36px;
                background: #424242;

                &.active {
                    background: #818181;
                }
            }

            .hamburger {
                display: block;
                position: relative;
                margin: 0 auto;
                width: 13px;
                height: 10px;
            }

            .icon {
                display: block;
                width: 100%;
                height: 2px;
                background: #fff;

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    @extend .icon;
                }

                &:before {
                    top: 4px;
                }

                &:after {
                    bottom: 0;
                }
            }
        }
        // .view-style
    }
    // .toolbar
}
/******* // HEADER *******/