/******* LAYOUT *******/
html, body{
    width: 100%;
    height: 100%;
}

    .wrapper{
        @include minHeight;
        overflow: hidden;
        background: $baseBG;
    }
        #header{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            height: $headerHeight;
            z-index: 101;
            background: $secondaryBG;

            .container{
                padding: 8px 40px;
            }
        }

        .base-container{
            &:before{
                content: '';
                display: block;
                width: 100%;
                height: $headerHeight;
            }
        }

            #content{
                position: relative;
                z-index: 100;

                .container{
                    padding: 15px 40px;
                    overflow: visible;
                }

                &.full-width{
                    margin-right: 124px;
                }
                &.small-width{
                    margin-right: $sidebarWidth;
                }
            }

            #sidebar{
                float: right;
                position: relative;
                z-index: 99;


                -webkit-transition: width 700ms ease;
                -moz-transition: width 700ms ease;
                transition: width 700ms ease;

                .container{
                    margin: 0 0 0 14px;
                    padding: 0 3px 0 5px;
                    @include fullHeight;
                    background: $secondaryBG;
                }

                &.opened {
                    width: $sidebarWidth;
                }

                &.closed {
                    width: 124px;
                }
            }
/******* // LAYOUT *******/