/******* RESET *******/
.btn{
    @extend .clean, .no-decor;
}
a{
    text-decoration: none;

    &:hover,
    &:active,
    &:focus{
        @extend a;
    }
}
textarea{
    resize: none;
}
.form-control{
    background: #515151;
    border-color: #858585;
    border-radius: 3px;

    color: #fff;
    font: 14px/1 inherit;
}
/******* RESET *******/

/******* VARIABLES *******/
// Palette
    $baseBG: #444;
    $secondaryBG: #2d2d2d;

// Fonts
    $fontStack: Arial, Helvetica, sans-serif;
    // PN - Proxima Nova
    $PN_Regular: 'Proxima Nova Regular', $fontStack;
    $PN_RegItalic: 'Proxima Nova RegItalic', $fontStack;
    $PN_Bold: 'Proxima Nova Bold', $fontStack;
    $PN_BoldItalic: 'Proxima Nova BoldItalic', $fontStack;

// Layout
    $headerHeight: 68px;
    $sidebarWidth: 488px;
/******* // VARIABLES *******/

/******* MIXINS *******/
@mixin fullHeight{
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}

@mixin inlineBlock{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

@mixin handleString{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin arrowBottom( $top, $right, $left, $color ){
    width: 0;
    height: 0;
    border-top: $top solid $color;
    border-right: $right solid transparent;
    border-left: $left solid transparent;
}

@mixin arrowTop( $right, $bottom, $left, $color ){
    width: 0;
    height: 0;
    border-right: $right solid transparent;
    border-bottom: $bottom solid $color;
    border-left: $left solid transparent;
}

@mixin arrowRight( $top, $bottom, $left, $color ){
    width: 0;
    height: 0;
    border-top: $top solid transparent;
    border-bottom: $bottom solid transparent;
    border-left: $left solid $color;
}

@mixin arrowLeft( $top, $right, $bottom, $color ){
    width: 0;
    height: 0;
    border-top: $top solid transparent;
    border-right: $right solid $color;
    border-bottom: $bottom solid transparent;
}

@mixin translate( $tX: 0, $tY: 0 ){
    $vendors: "-webkit-", "-moz-";

    @each $vendor in $vendors{
        #{$vendor}transform: translate($tX, $tY);
    }
    transform: translate($tX, $tY);
}

@mixin minHeight{
    min-height: 100%;
    height: auto!important;
    height: 100%;
}
/******* // MIXINS *******/