.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: visibility 700ms ease, opacity 700ms ease;

    &.opened {
        opacity: 1;
        visibility: visible;
    }
} // .overlay

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 598px;
    @include translate(-50%, -50%);
    background: #333;
    border: 1px solid #717171;
    border-radius: 5px;
    z-index: 10002;
    overflow: hidden;

    .popup-header,
    .popup-content,
    .popup-footer{
        overflow: hidden;
    }
    .popup-header{
        padding: 24px 16px;
        border-bottom: 1px solid #6f6f6f;

        .btn-close{
            float: right;
            width: 10px;
            color: #fff;
            font-size: 10px;
        }
    }
        .popup-heading{
            margin: 0 20px 0 0;
            color: #fff;
            font: 20px/1 $PN_Regular;
        }

    .popup-content{
        padding: 20px 35px;
        font-family: $PN_Regular;
    }
        .toggle-description{
            color: #fff;
            font: 13px/1 $PN_Bold;

            span{
                @include inlineBlock;
                margin: 0 8px 0 0;
            }

            &.closed{
                span{
                    @include arrowRight(5px, 5px, 5px, #fff);
                }
            }

            &.opened{
                span{
                    @include arrowBottom(5px, 5px, 5px, #fff);
                }
            }
        }

        .description-box{
            display: none;
        }

    .popup-footer{
        padding: 20px;
        border-top: 1px solid #707070;
        text-align: right;
        vertical-align: top;
        font-size: 0;

        .btn{
            min-width: 70px;
            margin: 0 0 0 10px;
            padding: 6px 16px;
            height: 34px;
            color: #fff;
            font: 14px/1 $PN_Regular;
            text-align: center;
            text-transform: uppercase;
            border-radius: 32px;

            &.btn-close{
                background: #484848;
                border: 1px solid #5b5b5b;
            }

            &.btn-create{
                background: #ea7e1b;
                border: 1px solid #ea7e1b;
            }
        }
    }
} // .popup