.hidden{
    display: none!important;
}
.visible{
    display: block!important;
}

.container{
    overflow: hidden;

    &.clearfix{
        overflow: visible;
    }
}

.clearfix:before,
.clearfix:after {
    content:".";
    display:table;
    height: 0;
    font-size:0;
    line-height:0;
    visibility:hidden;
}
.clearfix:after{
    clear: both;
}
.clearfix{
    *zoom: 1;
}

.image-container{
    line-height: 0;

    &.centered{
        text-align: center;
    }

    img{
        max-width: 100%;
    }
}

.clean{
    margin: 0;
    padding: 0;
    font-size: inherit;

    &.list{
        list-style: none;
    }
}
.no-decor{
    background: none;
    border: none;
    outline: none!important;
}