<header id="header">
    <div class="container clearfix">
        <h1 class="logo">
            <a title="QuickFocus. SnapUp" class="image-container" href="#/">
                <img alt="QuickFocus. SnapUp" src="images/app/logo.png" />
            </a>
        </h1><!-- // .logo -->

        <div class="user-area">
            <div class="user-avatar image-container">
                <img alt="JF" src="images/temp/avatar-jf.png" />
            </div>
            <div class="user">
                <p ng-click="toggleDropdown()" class="user-name"><span>josephfrigson</span></p>
                <ul ng-if="isDropdownVisible" class="dropdown">
                    <li class="list-item"><a title="Action" class="list-link" href="#/">Action</a></li>
                    <li class="list-item">
                        <a title="Another action" class="list-link" href="#/">Another action</a></li>
                    <li class="list-item">
                        <a title="Something else here" class="list-link" href="#/">Something else here</a>
                    </li>
                    <li class="list-item"><a title="Sign Out" class="list-link" href="#/">Sign Out</a></li>
                </ul>
            </div>
        </div>
        <!-- // .user-area -->

        <div class="toolbar">
            <button title="Create New Project" class="btn create-project" ng-click="showPopup()">
                <span class="glyphicon glyphicon-plus"></span>
                Create New Project
            </button>

            <div class="view-style btn-group">
                <button
                        title="Table View"
                        class="btn table-view"
                        ng-class="{'active' : isTabledView}"
                        ng-click="toggleViewStyle()"
                        >
                    <span class="glyphicon glyphicon-th-large">&nbsp;</span>
                </button>
                <button
                        title="List View"
                        class="btn list-view"
                        ng-class="{'active' : isListView}"
                        ng-click="toggleViewStyle()"
                        >
                    <span class="hamburger"><span class="icon"></span></span>
                </button>
            </div>
        </div>
        <!-- // .toolbar -->
    </div>
</header>